// palette
$darkestBlueDecorative: #0073c4;
$darkBlueBorder: #54a5de;
$blueBcgLightest: #c5e7ff;
$greyBlue: #8ab0ca;
$skyBlue: #8ed0ff;

$darkestYellow: #a98600;
$greyYellow: #dab600;
$sunnyYellow: #f8ed62;
$lightBcgYellow: #fff9ae;

$mainFont: #1b252e;
