// palette
$darkestBlueDecorative: #0073c4;
$darkBlueBorder: #54a5de;
$blueBcgLightest: #c5e7ff;
$greyBlue: #8ab0ca;
$skyBlue: #8ed0ff;

$darkestYellow: #a98600;
$greyYellow: #dab600;
$sunnyYellow: #f8ed62;
$lightBcgYellow: #fff9ae;
$cardBcg: #F5F6EA;

$mainFont: #1b252e;

$typeFont: #ffffff;

$psychicType: #EDC3D6;
$fightingType: #BDCBF1;
$rockType: #BDBDBD;
$normalType: #BBADC5;
$groundType: #BBDDB4;
$steelType: #8C8C8C;
$electricType: #EBEE8E;
$fireType: #EEAE8E;
$flyingType: #B3F6EA;
$ghostType: #D9E4E2;
$iceType: #A2D9DB;
$darkType: #545959;
$grassType: #85B78D;
$bugType: #F7BB62;
$poisonType: #725C83;
$dragonType: #ED5C53;
$fairyType: #E691DE;