<header class="header">
    <div class="container header--flex">
        <a class="header__logo" href="/">
            <svg width="200" height="80">
                <use href="./images/icons.svg#icon-logo"></use>
            </svg>
        </a>
        <form class="header__search">
            <div class="header__search-item">
                <input type="text" class="header__input" placeholder="Searching...">
                <select name="search" id="search" class="js-select header__select">
                    <option value="pokemon">Name</option>
                    <option value="ability">Ability</option>
                    <option value="gender">Gender</option>
                    <option value="type">Type</option>
                </select>
            </div>
            <button class="header__btn">
                <svg width="30" height="30">
                    <use href="./images/icons.svg#icon-search"></use>
                </svg>
            </button>
        </form>
    </div>
</header>