<div class="popup">
    <div class="modal__body">
      <div class="popup__content modal__content">
        <button type="button" class="modal__close close-popup">
            <svg width="40" height="40">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>
        <h1 class="modal__title pokemon-name">Pokemon: Ditto</h1>
        <div class="modal__images">
            <!-- <div class="modal__images-item">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" alt="">
                <p class="modal__images-descr">front default
                </p>
            </div>
            <div class="modal__images-item">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/132.png" alt="">
                <p class="modal__images-descr">back default</p>
            </div>
            <div class="modal__images-item">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/132.png" alt="">
                <p class="modal__images-descr">front shiny</p>
            </div>
            <div class="modal__images-item">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/132.png" alt="">
                <p class="modal__images-descr">back shiny</p>
            </div> -->
        </div>
        <ul class="modal__short-descr js-short-descr">
            <li class="modal__main-item">id: 1220</li>
            <li class="modal__main-item">Base experience: 333</li>
            <li class="modal__main-item">Height: 11</li>
            <li class="modal__main-item">Weight: 11</li>
            <li class="modal__main-item">Order: 33</li>
        </ul>
        <div class="modal__long-descr">
            <h2 class="modal__subtitle">Abilitites</h2>
            <ul class="modal__list js-abilities">
                <li class="modal__item">lu</li>
                <li class="modal__item">zhu</li>
                <li class="modal__item">nu</li>
            </ul>
        </div>        
        </form>
      </div>
    </div>
  </div>