<div class="popup">
  <div class="modal__body">
    <button type="button" class="modal__close close-popup" data-popup-close>
      <svg width="40" height="40">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="popup__content modal__content">
      <h1 class="modal__title pokemon-name"></h1>
      <div class="modal__details">
        <ul class="modal__short-descr">
          <li>Id: <span class="quality js-id"></span></li>
          <li>Base experience: <span class="quality js-exper"></span></li>
          <li>Height: <span class="quality js-height"></span></li>
          <li>Weight: <span class="quality js-weight"></span></li>
          <li>Order: <span class="quality js-order"></span></li>
        </ul>
        <div class="modal__long-descr">
          <div class="modal__stuff">
            <h2 class="modal__subtitle">Abilitites</h2>
            <ul class="modal__list js-abilities"></ul>
          </div>
          <div class="modal__stuff">
            <h2 class="modal__subtitle">Types</h2>
            <ul class="modal__list js-types"></ul>
          </div>
        </div>
      </div>
      <div class="modal__features">
        <h2 class="modal__subtitle">Stats</h2>
        <table class="modal__stats">
          <thead>
            <tr>
              <th>Stat</th>
              <th>effort</th>
              <th>Stat base</th>
            </tr>
          </thead>
          <tbody class="js-stats"></tbody>
        </table>
        <h2 class="modal__subtitle">Moves</h2>
        <ul class="modal__moves js-moves"></ul>
      </div>
      <ul class="modal__images"></ul>
    </div>
  </div>
</div>
