[data-type="water"] {
    background-color: $skyBlue;
    color: $typeFont;
}

[data-type="psychic"] {
    background-color: $psychicType;
    color: $typeFont;
}

[data-type="fighting"] {
    background-color: $fightingType;
}

[data-type="rock"] {
    background-color: $rockType;
    color: $typeFont;
}

[data-type="normal"] {
    background-color: $normalType;
    color: $typeFont;
}

[data-type="electric"] {
    background-color: $electricType;
}

[data-type="ground"] {
    background-color: $groundType;
}

[data-type="steel"] {
    background-color: $steelType;
    color: $typeFont;
}

[data-type="fire"] {
    background-color: $fireType;
    color: $typeFont;
}

[data-type="flying"] {
    background-color: $flyingType;
}

[data-type="ghost"] {
    background-color: $ghostType;
}

[data-type="ice"] {
    background-color: $iceType;
    color: $typeFont;
}

[data-type="dark"] {
    background-color: $darkType;
    color: $typeFont;
}

[data-type="grass"] {
    background-color: $grassType;
    color: $typeFont;
}

[data-type="bug"] {
    background-color: $bugType;
}

[data-type="poison"] {
    background-color: $poisonType;
    color: $typeFont;
}

[data-type="dragon"] {
    background-color: $dragonType;
    color: $typeFont;
}

[data-type="fairy"] {
    background-color: $fairyType;
}